                       <div class="blog__details__comment">
                             
                                <div class="blog__details__comment__item">
                                    <div class="blog__details__comment__item__pic">
                                        <img src="img/blog/details/comment-1.png" alt="">
                                        <%= image_tag("blog/details/comment-1.png") %>
                                    </div>
                                    <div class="blog__details__comment__item__text">
                                        <span><%=  time_ago_in_words(comment.created_at)  %></span>
                                        <h5><%= comment.user.email.upcase %></h5>
                                        <p> <%= comment.content %> </p>
                                        <a href="#">Like</a>
                                        <a href="#">Reply</a>
                                    </div>
                                </div>
                                <div class="blog__details__comment__item blog__details__comment__item--reply">
                                    <div class="blog__details__comment__item__pic">
                                        <img src="img/blog/details/comment-2.png" alt="">
                                        <%= image_tag("blog/details/comment-2.png") %>
                                    </div>
                                    <div class="blog__details__comment__item__text">
                                        <span>Sep 08, 2020</span>
                                        <h5>Elizabeth Perry</h5>
                                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                        adipisci velit, sed quia non numquam eius modi</p>
                                        <a href="#">Like</a>
                                        <a href="#">Reply</a>
                                    </div>
                                </div>
                                