
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fas fa-angle-right"></i> Home</a>
                        <a href="./categories.html"><i class="fas fa-angle-right"></i> Categories </a>
                        <a href="#"><i class="fas fa-angle-right"></i>Romance</a>
                        <span>Fate Stay Night: Unlimited Blade</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Anime Section Begin -->
    <section class="anime-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="anime__video__player">
                        <iframe width="978" height="550" src="https://www.youtube.com/embed/pmanD_s7G3U?showinfo=0&autoplay=1&controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                     <h5><%= link_to "Review for us", new_film_review_path(@film), class: "site-btn" %> <i class="fas fa-arrow-right text-white"></i>   </h5>
                       <div class="blog__details__btns">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="blog__details__btns__item">
                                        <h5><a href="#"><span class="fas fa-arrow-left"></span> Building a Better LiA...</a>
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="blog__details__btns__item next__btn">
                                        <h5><a href="#">Mugen no Juunin: Immortal – 21 <span
                                            class="fas fa-arrow-right"></span></a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <p>  <%= render @comments %>  </p>      
                    <div class="anime__details__form">
                        <div class="section-title">
                            <h5>Your Comment</h5>
                        </div>
                        <%= form_for @comment do |f| %>
                            <%= f.hidden_field :cmt_duty_type, value: @film.class.name %>
                            <%= f.hidden_field :cmt_duty_id, value: @film.id %>
                            <%= f.text_area :content, class: "form-control" %>
                            <%= f.submit "POST COMMENTS", class: "site-btn" %>
                        <% end %>
                    </div>
    </section>
    <!-- Anime Section End -->
