<!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html">
                            <img src="img/logo.png" alt="">
                            <%= link_to image_tag("logo.png"), root_path %>
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="./index.html"> <%= t ".Homepage" %> </a></li>
                                <li><a href="./categories.html"> <%= t ".Categories" %><span class="fas fa-angle-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a href="./categories.html"> <%= t ".Categories" %> </a></li>
                                        <li><a href="./anime-details.html"> <%= t ".Anime_Details" %> </a></li>
                                        <li><a href="./anime-watching.html"> <%= t ".Anime_Watching" %> </a></li>
                                        <li><a href="./blog-details.html"> <%= t ".Blog_Details" %> </a></li>
                                        <li><a href="http://localhost:3000/users/sign_up"> <%= t ".Sign_Up" %> </a></li>
                                        <li><a href="http://localhost:3000/users/sign_in"> <%= t ".Sign_In" %> </a>
                                    </ul>
                                </li>
                                <li><a href="./blog.html"> <%= t ".Our_Blog" %> </a></li>
                                <li><a href="#"> <%= t ".Contacts" %> </a></li>
                                <%= link_to "English", locale:"en" %> 
                            <%= link_to "| Vietnamese", locale:"vi" %>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a href="#" class="search-switch"><span class="fas fa-search"></span></a>
                        <a href="./login.html"><span class="fas fa-user"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End --> 