<!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                   
                            <img src="img/logo.png" alt="">
                            <%= link_to image_tag("logo.png"), root_path %>
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="./index.html"> <%= t ".Homepage" %> </a></li>
                                <li><a href="./categories.html"> <%= t ".Categories" %> <i class="fas fa-sort-down"></i></a>
                                    <ul class="dropdown">
                                        <li><%= link_to ("Categories"), films_path %></li>
                                        <li><a href="./anime-watching.html"> <%= t ".Anime_Watching" %> </a></li>
                                        <li><a href="./blog-details.html"> <%= t ".Blog_Details" %> </a></li>
                                        <li><a href="http://localhost:3000/users/sign_up"> <%= t ".Sign_Up" %> </a></li>
                                        <li><a href="http://localhost:3000/users/sign_in"> <%= t ".Sign_In" %> </a>
                                    </ul>
                                </li>
                                <li> <%= link_to (t".Our_Blog"), reviews_path %> </li>
                                <li><a href="#"> <%= t ".Contacts" %> </a></li>
                                <li><a href="./categories.html"> <%= t ".Languages" %> <i class="fas fa-sort-down"></i></a>
                                    <ul class="dropdown">
                                        <li>
                                         <%= link_to image_tag("united-states-of-america.png"), locale:"en" %>
                                        </li>

                                        <li><%= link_to image_tag("vietnam.png"), locale:"vi" %></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a href="#" class="search-switch"><span class="fas fa-search"></span></a>
                        <a href="./login.html"><span class="fas fa-user"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End --> 
