<!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                            <%= link_to image_tag("logo.png"), root_path %>
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"> <%= link_to (t ".Homepage"), root_path %> </li>
                                <li><a href="./categories.html"> <%= t ".Categories" %> <i class="fas fa-sort-down"></i></a>
                                    <ul class="dropdown">
                                        <li> <%= link_to ("Categories"), films_path %></li>
                                        <li> <%= link_to (t".Anime_Watching"), films_path %> </a></li>
                                        <li> <%= link_to (t".Blog_Details"), '#' %> </a></li>
                                        <li> <%= link_to (t".Sign_Up"), new_user_registration_path %> </li>
                                        <li> <%= link_to (t".Sign_In"), signin_path %> </li>
                                        <li> <%= link_to (t".Sign_Out"), users_sign_out_path %> </li>

                                    </ul>
                                </li>
                                <li> <%= link_to (t".Our_Blog"), reviews_path %> </li>
                                <li><a href="#"> <%= t ".Contacts" %> </a></li>
                                <li><a href="./categories.html"> <%= t ".Languages" %> <i class="fas fa-sort-down"></i></a>
                                    <ul class="dropdown">
                                        <li>
                                         <%= link_to image_tag("united-states-of-america.png"), locale:"en" %>
                                        </li>

                                        <li><%= link_to image_tag("vietnam.png"), locale:"vi" %></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a href="#" class="search-switch"><span class="fas fa-search"></span></a>
                        <a href="./login.html"><span class="fas fa-user"></span></a>
                    </div>
                </div>
            </div>
    </header>
    <!-- Header End --> 
