<!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                            <%= link_to image_tag("logo.png"), root_path %>
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="<%= root_path %>"> <i class="fas fa-home"></i>  <%= (t ".Homepage") %>  </a></li>
                                <li><a href="<%= films_path %>"><i class="fas fa-tv"></i> <%= t ".Anime_Watching" %> </a>
                                </li>
                                        <li><a href="<%= reviews_path %>"> <i class="fas fa-comments"></i>  <%= t".Our_Blog" %>  </a></li>
                                <li><a href="./categories.html"> <i class="fa fa-language"></i>  <%= t ".Languages" %>  </a>
                                    <ul class="dropdown">
                                        <li>
                                         <%= link_to image_tag("united-states-of-america.png"), locale:"en" %>
                                        </li>

                                        <li><%= link_to image_tag("vietnam.png"), locale:"vi" %></li>
                                    </ul>
                                </li>
                                <li><a href="#"> <span class="fas fa-user"></span> <%= t ".User" %>  <i class="fas fa-sort-down"></i> </a>
                                 <ul class="dropdown">
                                         <li> <%= link_to (t".Sign_Up"), new_user_registration_path %> </li>
                                        <li> <%= link_to (t".Sign_In"), signin_path %> </li>
                                        <li> <%= link_to (t".Sign_Out"), users_sign_out_path %> </li>
                                    </ul></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a href="#" class="search-switch"><span class="fas fa-search"></span></a>
                        <a href="./login.html"><span class="fas fa-user"></span></a>
                    </div>
                </div>
            </div>
    </header>
    <!-- Header End --> 
